body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;   /* stack the content vertically */
    min-height: 100vh;  
}

.product-category {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    margin: 10px;
}

.product-category img {
    width: 100%;
    height: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


@media screen and (max-width: 768px) {

    .about-us-header {
        display: none;
    }
    
    .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .header-name, .header-text {
        text-align: center;
        padding-left: 0;  /* Add this line */
        font-size: 12px;
    }
}




header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav {
    background-color: white;
}
.nav-toggle {
    display: none;
}

.hamburger-menu {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: #333;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav ul {
        transition: transform 0.3s ease-in-out;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: #ffffff; /* Change this to white */
        /* padding-top: 60px; */
        transform: translateX(100%);
        text-align: center;
        overflow: scroll;
        display: none;
        list-style: none;
        padding-left: 0;
    }

    nav ul li {
        padding: 60px 0 15px; 
    }

    nav ul li a {
        color: #333333; /* Change link color to dark for visibility on white background */
        text-decoration: none;
        font-size: 1.5em; /* Increase the font size */
    }

    .nav-toggle:checked ~ ul {
        transform: translateX(0);
        display: block;
    }

    .nav-toggle:checked ~ .hamburger-menu span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: top left;
    }

    .nav-toggle:checked ~ .hamburger-menu span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle:checked ~ .hamburger-menu span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }
}


@media screen and (min-width: 769px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .about-us-header {
        display: none;
    }
}

nav ul li {
    margin: 0 15px; /* Adjust these values as needed */
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Adds some space on the sides of the navbar */
}

#logo {
    height: 100px; /* Adjust this value as needed */
    width: auto;
}

body, html, main, #about {
    margin: 0;
    padding: 0;
    height: 100%;
}

#about {
    position: relative; /* add this */
    height: 50%; /* change this from 100% to your desired height */
    width: 100%;
    overflow: hidden; /* add this if you don't want the image to overflow the section */
}

#about img {
    min-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#products {
    display: flex;
    flex-direction: column; /* Stacks the product sections vertically */
    gap: 20px;
}

#products section {
    display: flex; /* Aligns image and text horizontally */
    justify-content: space-between; /* Adds space between the image and the text */
    align-items: center; /* Centers the content vertically */
    height: 50vh; /* Adjust this value as needed. It's set to 80% of the viewport height */
}

#products section:nth-child(even) {
    flex-direction: row-reverse; /* Reverses the order of the content for even-numbered sections */
}

.product-content {
    width: 50%; /* Adjust this value as needed */
    padding: 0 20px; /* Adds some space around the text */
}

.product-image {
    background-size: cover;
    background-position: center;
    width: 40%; /* Adjust this value as needed */
    padding-top: 30%; /* Adjust this value as needed to change the image's aspect ratio */
}

#products section:nth-child(odd) {
    flex-direction: row; /* Keeps the order of the content for odd-numbered sections */
}

#products section:nth-child(even) {
    flex-direction: row-reverse; /* Reverses the order of the content for even-numbered sections */
}

.service-category {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: 10px;
}

.service-category.visible {
    opacity: 1;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* space between grid items */
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Creates space between the elements */
    margin-bottom: 50px;
}

.arrow {
    cursor: pointer; /* Changes the cursor to a hand when hovering over the arrow */
}

.testimonial-slide {
    background-color: #ffffff;
    border-radius: 5px; /* Optional: Creates slightly rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Creates a shadow effect */
    padding: 20px;
    display: none; /* Hides the testimonial */
    flex: 1; /* Allows the testimonial to grow as needed */
}

.testimonial-slide.active {
    display: block; /* Only the active testimonial is shown */
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.header-name{
    font-size: 25px;
    text-align: center;
    /* padding-left: 70px; */
}

.header-text{
    font-size: 19px;
    text-align: center;
    /* padding-left: 70px; */
}

.about-us-header {
    text-align: left;
}

#about-us {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%; /* Adjust the width as per your requirement */
    margin: 1em auto; 
}

#about-us h2 {
    text-align: center;
    padding: 1em;
}

.about-us-detail p {
    font-size: 0.9em;
    line-height: 1.6;
}


@media screen and (max-width: 768px) {
    /* These styles will only be applied on screens with a width up to 768px */

    #about-us {
        flex-direction: column; /* Stacks the content vertically on smaller screens */
    }

    .about-us-image, .about-us-detail {
        width: 100%; /* Allows the image and text to each take up the full width of the screen */
    }
    
    #about img {
        object-fit: cover; /* This property makes the image cover the div without distortion */
        height: 100%; /* Set height to 100% */
        width: 100%;
        max-width: 100vw; /* Ensure the image doesn't exceed the viewport width */
    }
    
    #testimonials {
        position: relative; /* New */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #testimonials h2 {
        margin-bottom: 1em;
    }

    #testimonials .testimonial-slide {
        width: 80%; /* Adjust as needed */
        margin-bottom: 1em;
    }

    #testimonials .testimonial-slide p,
    #testimonials .testimonial-slide h4 {
        padding: 0 10px;  /* Add padding to the sides for readability */
    }

    .arrows {
        display: flex; /* New */
        justify-content: center; /* New */
        margin: 20px 0; /* Adjust as needed */
    }

    .arrow {
        font-size: 2em;
        padding: 0 1em;  /* Add padding to the sides for readability */
        z-index: 2; /* Ensure arrows are clickable */
        cursor: pointer;
    }

    
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

.footer p {
    margin: 0 0 10px; /* You can change this */
}

.footer a {
    color: #fff; /* You can change this */
    text-decoration: none;
}

.footer a:hover {
    color: #ffd700; /* You can change this */
}

.title{
    padding-top: 30px;
}

